@model List<Project>

@using Messenger_Thesis_1._0.Data.Model.Interface
@inject IContractRepository ContractRepository
@inject IUserRepository UserRepository
@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Admin.cshtml";
}



    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">


            <div class="modal-content">
                <div id="RegistrationForm">
                    <div class="modal-body p-0">


                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-white pb-3">

                                <div class="btn-wrapper text-center">
                                    <h3>List Of SOA</h3>

                                </div>
                                <form asp-action="Invoice" asp-controller="Report">
                                    <input type="hidden" id="projectId" name="id" />
                                    <input type="submit" class="btn btn-primary" value="Show Invoice" />
                                </form>
                            </div>
                            <div class="card-body px-lg-5 py-lg-3">

                                <form role="form" asp-controller="Client" asp-action="ReadExcelFileAsync" enctype="multipart/form-data">



                                    <div class="table-responsive">
                                        <table id="soaTable" class="table align-items-center table-flush">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Receiver Name</th>
                                                    <th scope="col">Location</th>
                                                </tr>
                                            </thead>
                                            <tbody class="letterData">
                                            </tbody>
                                        </table>
                                    </div>




                                    <br />
                                    <br />


                                </form>
                            </div>
                        </div>



                    </div>

                </div>



            </div>
        </div>
    </div>



<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <br />
                <div class="col-md-3">

                </div>
                <div class="card-header border-0">
                    <h3 class="mb-0">Projects</h3>
                </div>
                <div style="padding:2%;" class="table-responsive">
                    <table id="projectTable" class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Project ID</th>
                                <th scope="col">ProjectName</th>

                                <th scope="col">Quantity</th>
                                <th scope="col">Type  </th>
                                <th scope="col">Status  </th>

                                <th scope="col">Date  </th>
                                <th scope="col">Action  </th>
                                <th scope="col">View  </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                foreach (var project in Model)
                                {
                                                        <tr>
                                                            <td>
                                                                @project.ProjectID
                                                            </td>
                                                            <td>
                                                                @project.ProjectName
                                                            </td>

                                                            <td>
                                                                @project.Quantity
                                                            </td>

                                                            <td>
                                                                @project.TypeOfTask
                                                            </td>

                                                            <td>
                                                                @project.Status
                                                            </td>
                                                            <td>
                                                                @project.CurrentDateStart.ToShortDateString()
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (project.Status == "On-going" && project.TypeOfTask == "Pick-up")
                                                                    {
                                                                        <button type="button" onclick="Done(@project.ProjectID)" class="btn btn-block">Done</button>
                                                                    }

                                                                    if (project.Status == "On-going" && project.TypeOfTask == "Delivery")
                                                                    {
                                                                        <button type="button" onclick="DoneDelivery(@project.ProjectID)" class="btn btn-block">Done</button>
                                                                    }

                                                                }


                                                            </td>

                                                            <td>

                                                                @{

                                                                    if (project.TypeOfTask == "Delivery")
                                                                    {
                                                                        <button data-toggle="modal" data-target="#modal-form" onclick="GetLetterDelivery(@project.ProjectID)" class="btn btn-primary">View</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button data-toggle="modal" data-target="#modal-form" onclick="GetClient(@project.ProjectID)" class="btn btn-primary">View</button>
                                                                    }
                                                                }

                                                            </td>

                                                        </tr>

                                }

                            }



                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- Dark table -->


</div>



<script>

    

    function GetClient(id) {
        var table = $('#soaTable').DataTable();
     
        $('#projectId').val(id);
        $('.letterData').html('');

           table.clear().draw();
        $.ajax({

            url: '/Project/GetLetterProject',
            type: 'GET',
            data: { id: id },
            success: function (e) {

                for (var key of Object.keys(e)) {

                    table.row.add([ 

                        e[key].receiverName, e[key].locationOfDelivery
                        ]
                    ).draw();


                }


            }

        });
    }



     function GetLetterDelivery(id) {
        var table = $('#soaTable').DataTable();
        
        $('#projectId').val(id);
         $('.letterData').html('');
            table.clear().draw();
        $.ajax({

            url: '/Project/GetLetterDelivery',
            type: 'GET',
            data: { id: id },
            success: function (e) {

                for (var key of Object.keys(e)) {

                    table.row.add([ 

                        e[key].receiverName, e[key].locationOfDelivery
                        ]
                    ).draw();

                }


            }

        });
    }






    $(document).ready(function () {
        var table = $('#projectTable').DataTable({

            order: [[0, "desc"]],
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend('<img style= src="~/logo.png" style="position:absolute; height:500px; z-index:5000; width:500px; top:0; left:0;" />'
                            );
                    }
                }
            ],
            drawCallback: function () {

                var next = $("#projectTable_next > a");
                next.text('>');

                var ss = $("#projectTable_previous > a");
                ss.text('<');
            }

        });
        $('.custom-select').removeClass("custom-select");
    });



    function Done(id) {

        var conf = confirm("are you sure?");

        if (conf) {

        $.ajax({

            url: '../Project/FinishedPickup',
            type: 'POST',
            data: {id : id},
            success: function (e) {
               Swal.fire(
                        'Good job!',
                        'Pickup Completed!',
                        'success'
                    );
            }

        });
            }
    }

     function DoneDelivery(id) {

        var conf = confirm("are you sure?");

        if (conf) {

        $.ajax({

            url: '../Project/FinishedDelivery',
            type: 'POST',
            data: {id : id},
            success: function (e) {
               Swal.fire(
                        'Good job!',
                        'Delivery Completed!',
                        'success'
                    );
            }

        });
            }
    }

</script>